* {
    margin: 0px;
    padding: 0px;
    font-family: serif;
}

.Main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Test_Box {
    width: 75%;
    align-self: center;
    position: relative;
}

/* .testParagraphBox {
    border: 1px solid red;
    margin: 10px auto;
} */

.word {
    display: inline-block;
    margin: 5px;
    text-align: left;
}

.letters {
    font-size: 1.2rem;
    font-weight: 500;
    color: grey;
}

#keyInput {
    outline: none;
    border: none;
    background-color: transparent;
    color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    cursor:default;
}

.onBlurEffect {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 240, 240, .7);
}

.typingCursor {
    width: 2px;
    height: 20px;
    background-color: black;
    display: inline-block;
    animation: example .1s ease-out;
    transition: .1s all;
    position: fixed;
    margin-left: 0px;
}
.insideCursor {
    animation: blinkAnimation .8s ease-in infinite;
    width: 2px;
    height: 20px;

}
@keyframes example {
    from {
        margin-left: -5px;
    }
    to {
        margin-left: 0px;
    }
}

@keyframes blinkAnimation {
    from {
        background-color: black;
    }
    to {
        background-color: rgb(189, 189, 189);
    }
}

.correct {
    font-size: 1.2rem;
    font-weight: 500;
    color: black;}

.wrong {
    font-size: 1.2rem;
    font-weight: 500;
    color: red;}


 /* Counter part styling  */

.Counter {
    width: 50px;
    height: 20px;
    font-size: 1.2rem;
    text-align: center;
}


/* REsult fuction  */

.Result {
    border: 1px solid red;
    width: 400px;
    height: 150px;
    display: none;
    justify-content: center;
    align-items: center;
}

/* //Restart button styling  */

#restart {
    border: 1px solid black;
    /* outline: none; */
    background-color: white;
    color: black;
    padding: 12px 14px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 20px auto;
    border-radius: 5px;
}